/*IMPORTAÇÃO DAS FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&family=Noto+Serif&family=Roboto&display=swap');

.Paleta-de-Cores{
    background-color: #00202E;
    background-color: #055576;
    background-color: #018AC9;
    background-color: #178AC5;
    background-color: #ffffff;
    background-color: #EEF1F1;
}
.Todas-as-fontes{
 /*@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&family=Noto+Serif&family=Roboto&display=swap');*/
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;

    padding: 0%;
    margin: 0%;

    background-color: whitesmoke;

}
header{

    width: 100%;

    padding: 30px;
    margin: auto;
   
    background-color: #00202E;

    
}
header > h1{
    color: #ffffff;
    text-align: center;
    
    font-family: 'Merriweather ', serif;
    font-size: 50pt;
    font-weight: 800;

    text-shadow: 0.5px 0.5px 2px  rgba(0, 0, 0, 0.671);
    
}
header > h1 > a > span{
    color: #018AC9;
    font-weight: 400;
}
h1 > a{
    font-style: none;
    text-decoration: none;
    color: white;
}

/*Menu de Navegação*/

nav{

    text-align: center;

    width: 700px;

    padding: 10px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;

    background-color: #055576;
    color: #EEF1F1;
}
nav > a{
    text-decoration: none;

    color: #EEF1F1;

    font-family:'Merriweather', serif;
    font-size: 12pt;
    

    margin-right: 10px;
}
nav > a:hover{
    color: #178AC5;
    text-decoration: inline;
}