/*IMPORTAÇÃO DAS FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&family=Noto+Serif&family=Roboto&display=swap');

.Paleta-de-Cores{
    background-color: #00202E;
    background-color: #055576;
    background-color: #018AC9;
    background-color: #178AC5;
    background-color: #ffffff;
    background-color: #EEF1F1;
}
.Todas-as-fontes{
 /*@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&family=Noto+Serif&family=Roboto&display=swap');*/
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}

html{
    /*VARIAVEIS PARA GUARDAR A PALETA DE CORES (nomes fantasia)*/
    
        --header: #00202E;
        --nav: #055576;
        --span: #018AC9;
        --link-hover: #178AC5;
        --titulo: #ffffff;
        --nav-font: #EEF1F1;
    
    /*NO USO: background-color: var(--header); */


    /*VARIAVEIS PARA GUARDAR AS FONTES (nomes fantasia)*/
    /*
        --font-titulo: 'Merriweather', serif;
        --font-corpo: 'Merriweather Sans', sans-serif;
        --font-link: 'Noto Serif', serif;
        --font-destaque: 'Roboto', sans-serif;
    */
    /*NO USO: font-family: var(--font-titulo);*/
}

body{
    width: 100%;

    padding: 0%;
    margin: 0%;

    background-color: whitesmoke;

}
header{

    width: 100%;

    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
   
    background-color: #00202E;

    
}
header > h1{
    color: #ffffff;
    text-align: center;
    
    font-family: 'Merriweather ', serif;
    font-size: 50pt;
    font-weight: 800;

    text-shadow: 0.5px 0.5px 2px  rgba(0, 0, 0, 0.671);
    
}
header > h1 > a > span{
    color: #018AC9;
    font-weight: 400;
}
h1 > a{
    font-style: none;
    text-decoration: none;
    color: white;
}

/*Menu de Navegação*/

nav{

    text-align: center;

    width: 700px;

    padding: 10px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;

    background-color: #055576;
    color: #EEF1F1;
}
nav > a{
    text-decoration: none;

    color: #EEF1F1;

    font-family:'Merriweather', serif;
    font-size: 12pt;
    

    margin-right: 10px;
}
nav > a:hover{
    color: #178AC5;
    text-decoration: inline;
}

/*Parte do Artigo*/

main{
    width: 100%;

}
main > section{
    width: 720px;

    margin: auto;

    padding: 5px;
}
main > section > h1{
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-family: 'Merriweather', sans-serif;
   

    margin-bottom: 25px;
}
main > section > h2{
    font-size: 1.3em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-family: 'Merriweather';

    color: #6f6f6f;

    margin-bottom: 20px;
}
main > section > img{
    width: 725px;

    margin-bottom: 10px;
    
}
main > section > p{
    font-size: 1.1em;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-family: 'Merriweather';
    line-height: 1.25;

    text-align: justify;

    color: #6f6f6f;

    margin-bottom: 20px;
}
main > section > div{
    
    padding-left: 40px;
}
.citacao{
    font-size: 1.1em;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-family: 'Merriweather', italic ;
    line-height: 1.25;

    text-align: justify;

    color: #6f6f6f;

    margin-bottom: 20px;
}
main > section > p > a{
    color: #008ac4;
}
main > section > h3{
    margin-bottom: 20px;
}

/*Redes Sociais*/

#medias{
    z-index: 100;
    color: white;
}

.media{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: var(--nav);
    font-size: 35px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 140px;
    transition: all 1s ease;
    transition-delay: .9s;
    cursor: pointer;
}

.media > span{
    transition: all 1s ease;
    text-align: center;
}

#medias > span{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
}

.media-active{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: var(--nav);
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 140px;
    right: 10px;
    cursor: pointer;
}

.media-active > span{
    transform: rotate(135deg);
    transition: all 1s ease;
}

#medias ~ div{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--nav);
    position: absolute;
    top: 140px;
    right: 10px;
    cursor: pointer;
}

.link-invisible{
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
}

.link-visible.a{
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 1s ease;
    transition-delay: 0s;
    transform: translateX(-50px);
}

.link-visible.b{
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 1s ease;
    transition-delay: 0.2s;
    transform: translateX(-95px);
}

.link-visible.c{
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 1s ease;
    transition-delay: 0.4s;
    transform: translateX(-140px);
}

.link-visible.d{
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 1s ease;
    transition-delay: 0.6s;
    transform: translateX(-185px);
}

.link-visible.e{
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 1s ease;
    transition-delay: 0.8s;
    transform: translateX(-230px);
}

.links img{
    transform: translateY(7px) translateX(7px);
}
